<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de ficha - pdf</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style-pdf.css">

</head>

<body>
    
    <main>
        <h1>teste html pdf</h1>
        <h1><%=nome%></h1>
        <h1><%=endereco%></h1>
        <h1><%=complemento%></h1>
        <h1><%=bairro%></h1>
        <h1><%=municipio%></h1>
        <h1><%=uf%></h1>
        <h1><%=cep%></h1>
        <h1><%=email%></h1>
        <h1><%=telefone%></h1>
        <h1><%=identidade%></h1>
        <h1><%=orgaoExpedicao%></h1>
        <h1><%=dataExpedicao%></h1>
        <h1><%=fax%></h1>
        <h1><%=nomecontratante%></h1>
        <h1><%=enderecoContratante%></h1>
        <h1><%=complementoContratante%></h1>
        <h1><%=bairroContratante%></h1>
        <h1><%=municipioContratante%></h1>
        <h1><%=ufContratante%></h1>
        <h1><%=cepContratante%></h1>
        <h1><%=emailContratante%></h1>
        <h1><%=telefoneContratante%></h1>
        <h1><%=cnpjCpfContratante%></h1>
        <h1><%=inscMunEstContratante%></h1>
        <h1><%=faxContratante%></h1>
        <h1><%=responsavelContratante%></h1>

        <h1>teste html pdf</h1>
    </main>

</body>

</html>